/*Mobile*/
@media (min-width: 425px) {
    /* Aquí puedes agregar los estilos para dispositivos móviles */
    /* Por ejemplo, ajustar el tamaño de los elementos del menú, título, habilidades, etc. */

    /* Ocultar los enlaces de navegación */
    .menu__list {
        display: none;
    }

    /* Mostrar el enlace de contacto */
    .menu__contact {
        display: block; /* Asegúrate de que el enlace de contacto esté visible */
    }
    
    .menu__icon img {
        width: 40px; /* Reducir el tamaño del ícono del menú en dispositivos móviles */
        padding: 10px; /* Reducir el espaciado interno del ícono del menú en dispositivos móviles */
    }

    .menu__title {
        font-size: 20px; /* Reducir el tamaño del texto del título del menú en dispositivos móviles */
    }

    .menu__list {
        margin-right: 50px; /* Reducir el margen derecho de la lista del menú en dispositivos móviles */
    }

    .menu__list__item {
        margin: 0 10px; /* Reducir el espacio horizontal entre los elementos del menú en dispositivos móviles */
    }

    .menu__list__item a {
        font-size: 14px; /* Reducir el tamaño del texto de los enlaces del menú en dispositivos móviles */
    }

    /* Sección del Title/Hero */
    .title {
        padding: 100px 0; /* Reducir el espaciado alrededor del título en dispositivos móviles */
    }

    .title__div {
        margin: 20px 0; /* Reducir el margen superior e inferior de la división del título en dispositivos móviles */
    }

    .title__profile {
        width: 200px; /* Reducir el tamaño de la imagen de perfil en dispositivos móviles */
        height: 200px; /* Ajustar la altura de la imagen de perfil en dispositivos móviles */
        margin-left: 0; /* Eliminar el margen izquierdo de la imagen de perfil en dispositivos móviles */
    }

    .title__container {
        margin-top: 20px; /* Reducir el espacio superior entre la imagen y el texto en dispositivos móviles */
    }

    .title__bio {
        font-size: 18px; /* Reducir el tamaño del texto de la biografía en dispositivos móviles */
    }

    .title__subsection {
        font-size: 16px; /* Reducir el tamaño del texto de la subsección en dispositivos móviles */
    }

    /* Aquí puedes continuar ajustando los estilos para otras secciones */
}

/*Tablet*/
@media (min-width: 768px) {

    /* Menú */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    }
